.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #f0f8ff;

  &:hover,
  &:focus {
    color: yellowgreen;
  }
}

.active-nav-link {
  color: yellowgreen;
}
